
img {
	
	width: 80%;
    align-items: center;
    margin-left: 10%;
}
body {
    background-color: #FFE4E1;
    margin: 0 8px;
}


.yogaTitle{

	color: white;
	font-family: cursive;
	text-align: left;
	font-size:80pt;
}

a{
	    text-decoration: none;

}

.yogaImage {
	background-image: url("https://s-i.huffpost.com/gen/1815471/images/n-YOGA-628x314.jpg")
	height:600px;
	width:700px; 
}


h2 {
	text-align: center;
	color:black;
	font-family: cursive;
	font-size:40pt;
}

h1.yogaTitle {
    display: inline;
    line-height: 90px;
}

.Reminders {
	text-align: center;
	color:grey;
	font-family: cursive;
	font-size:20pt;

}



.Quotes {
	text-align: center;
	color:black;
	font-family: fantasy;
	font-size:15pt;

}

.stylesheet {
	font-family: 'Raleway', sans-serif;

}


hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;

}


footer {
	background-color: black;
	color: white;
	height: 80px;
	font-size: 14pt;
	text-align: center;
}

#copyrights {
	line-height: 50px;

}


.About_Brie {
	color:white;
	text-align: left;
	font-family: Lucinda;
	font-size: 40pt;
	margin: 0;
}

div.topBar a {
  display: inline-block;
  text-align: right;
  height: 90px;
  margin-right: .5em;

}

.nav {
	float: right;
}

.nav span {
	line-height: 90px;
}

iframe {
    width: 100%;
    height: 400px;
}

.headerSection {
	display;flex;
   	background-image: url(https://s-i.huffpost.com/gen/1815471/images/n-YOGA-628x314.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 300px;
    padding:128px 16px
   
}

button {
    text-align: center;
    display: block;
    margin: auto;
    color: white;
    background-color: pink;
    font-family: cursive;
    font-size:30px;
    padding: 10px;
    border-width: 10px;
    border-style: dotted;
  
}

.flex-container {
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: center;

	padding: 0;
	margin: 0 auto;
}
	.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}


}
.flex-item {
	text-align: left;
	width: 25%;
}
.flex-item2 {
	text-align: left;
	width: 50%;
}



